﻿@model Proyecto_Spot_it_Free.Usuario

@{
    ViewBag.Title = "Detalles de Usuario";
}

<style>
    body {
        background-color: #464545;
        color: #ffffff;
    }

    <style > html, body {
        height: 100%;
    }

    #tableContainer-1 {
        height: 100%;
        width: 100%;
        display: table;
    }

    #tableContainer-2 {
        vertical-align: middle;
        display: table-cell;
        height: 100%;
    }

    #myTable {
        margin: 0 auto;
    }
</style>
<body>
    <h2 style="text-align:center">Detalles de @Model.Nick</h2>
    <hr />
    <p style=" text-align:center"> <img style="width:280px; height:280px" src="~/Images/@Model.Imagen" /></p>
    
    <p style=" text-align:center">Nombre: @Model.Nombre</p>
    <p style=" text-align:center">Apellidos: @Model.Apellidos</p>
    <p style=" text-align:center">Email: @Model.Mail</p>
    <p style=" text-align:center">Localidad: @Model.Localidad</p>
    <p style=" text-align:center">Direccion: @Model.Direccion</p>
    <p style=" text-align:center">Pais: @Model.Pais</p>




    <p>
        @Html.ActionLink("Edita tu perfil", "Edit", new { id = Model.Nick })
    </p>
</body>