﻿@model IEnumerable<Proyecto_Spot_it_Free.Usuario>

@{
    ViewBag.Title = "Usuarios de SpotIt Free";
}

<style>
    body {
        color: #ffffff;
    }
</style>
<body>
    <h2>Usuarios de SpotIt Free</h2>

    <p>
        @Html.ActionLink("Crear nuevo usuario", "Create")
    </p>
    <table class="table col-md-offset-12">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nick)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_validacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artista.Nombre_artista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero.Descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nick)
                </td>
                <td>
                    <p>*********</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    <img src="~/Images/@item.Imagen" width="70px" height="70px" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo_validacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Validado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artista.Nombre_artista)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Nick }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Nick }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Nick })
                </td>
            </tr>
        }

    </table>
</body>