﻿@model Proyecto_Spot_it_Free.Models.Utilidades

@{
    ViewBag.Title = "Index";
}

<style>
    #divElement {
        position: absolute;
        top: 40%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        width: 100px;
        height: 100px;
    }

    p {
        color: #ffffff;
    }
</style>
<header style="height:500px">
    @using (Html.BeginForm("Index", "Validacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div id="divElement" class="form-horizontal" style="width:500px;margin-left:-100px">
        <p style="width:500px; margin-left:-90px">Hemos enviado un mensaje a tu correo con tu codigo de confirmación</p>
        <input type="text" id="txto" width="300px" name="apodoartista" class="form-control text-box single-line" placeholder="Codigo de confirmacion" />
        <p style="color:orangered;margin-left:60px;margin-top:5px">@Model.error</p>
        <input type="submit" style="width:300px;margin-top:10px" value="Validar" class="btn btn-default" />
        <h5 style="margin-left:10px">@Html.ActionLink("Volver al inicio de sesión", "Principal", "Principal")</h5>

    </div>
        <div>

        </div>
    }

</header>
