﻿@model Proyecto_Spot_it_Free.Models.Busqueda

@{
    ViewBag.Title = "Index";
}

<style>
    /*
    .thumbnail {
           width: 240px;
           height: 240px;
           margin-bottom: 50px;
           margin-right:50px;
           align-items:center;
           border:none;
       }


       .image {
           width: 100%;
           height: 100%;

        }

           .image img {
               -webkit-transition: all 1s ease;  Safari and Chrome
       -moz-transition: all 1s ease;
       -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
       transition: all 1s ease;
       }

       .image :hover img {
           -webkit-transform: scale(1.04);
           -moz-transform: scale(1.04);
           -ms-transform: scale(1.04);
           -o-transform: scale(1.04);
           transform: scale(1.04);
       }

       .img__description:hover {
           visibility: visible;
           opacity: 1;
       }

       .img__description {
           position: absolute;
           top: 0;
           bottom: 0;
           left: 0;
           right: 0;
           background: rgba(29, 106, 154, 0.72);
           color: #fff;
           visibility: hidden;
           opacity: 0;
           /* transition effect. not necessary
           transition: opacity .2s, visibility .2s;
       }

       #oo:hover {
           visibility: visible;
           opacity: 1;
       }


       */



    * {
        margin: 0;
        padding: 0;
        border: 0;
        border: none;
    }

    /* relevant styles */
    .img__wrap {
        position: relative;
        height: 280px;
        width: 280px;
        top: -10px;
    }

    .img__description {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: none;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        /* transition effect. not necessary */
        transition: opacity .2s, visibility .2s;
        border: none;
    }

    .img__wrap:hover .img__description {
        visibility: visible;
        opacity: 1;
        border: none;
    }

    .img__wrap:hover {
    }
</style>
<hr />
@if (Model.Locales.Count > 0)
{
    <h2 style="text-align:center; color:white">¡Artistas en tu zona!</h2>
    <hr />
    <div style="margin-left:-40px">

        @foreach (var item in Model.Locales)
        {
            <a href="@Url.Action("Details", "Artistas", new { id = item.Usuario1.Nick})">
                <div class="thumbnail" style="display:inline-block;border:none;background:none">
                    <div class="img__wrap">
                        <img class="img__img" src="~/Images/@item.Usuario1.Imagen" width="280 px" height="280 px" style="margin-bottom:100px" />

                    </div>
                </div>
            </a>
        }
    </div>

}
<h2 style="text-align:center;color:white">Canciones: </h2>
<hr />



<div style="margin-left:-40px">

    @foreach (var item in Model.Canciones)
    {
        <a href="@Url.Action("Details", "Canciones", new { id = item.Id})">
            <div class="thumbnail" style="display:inline-block;border:none; background:none">
                <div class="img__wrap">
                    <img class="img__img" src="~/Images/audiodefault.jpg" width="280 px" height="280 px" />
                    <p style="text-align:center">@item.Titulo by @item.Disco1.Artista1.Nombre_artista</p>
                </div>
            </div>
        </a>
    }
</div>

<hr />
<h2 style="text-align:center;color:white">Discos </h2>
<hr />

<div style="margin-left:-40px">

    @foreach (var item in Model.Discos)
    {
        <a href="@Url.Action("Details", "Discos", new { id = item.Id})">
            <div class="thumbnail" style="display:inline-block;border:none; background:none">
                <div class="img__wrap">
                    <img class="img__img" src="~/Portadas/@item.Imagen" width="280 px" height="280 px" style="margin-bottom:100px" />
                    <h3 style="  font-weight:150; -webkit-text-stroke: 0.8px black;" class="img__description">
                        • @item.Nombre<hr />
                        Canciones en el disco: @item.Cancion.Count()
                    </h3>
                </div>
            </div>
        </a>
    }
</div>
<hr />
<h2 style="text-align:center; color:white">Artistas </h2>
<hr />
<div style="margin-left:-40px">

    @foreach (var item in Model.Artistas)
    {
        <a href="@Url.Action("Details", "Artistas", new { id = item.Usuario1.Nick})">
            <div class="thumbnail" style="display:inline-block;border:none; background:none">
                <div class="img__wrap">
                    <img class="img__img" src="~/Images/@item.Usuario1.Imagen" width="280 px" height="280 px" style="" />
                    <h3 style="text-align:center">@item.Nombre_artista</h3>
                </div>
            </div>
        </a>
    }
</div>





