﻿@{
    ViewBag.Title = "Spot-It Free";
}

<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
<link rel="stylesheet" href="~/Content/Style_Create.css">

<body>
    <br /><br /><br />
    <img class="col-md-12" src="~/Content/images/Logo_Tamaño_Original.png"/></a>
    <br /><br /><br />
</body>