﻿@model Proyecto_Spot_it_Free.Usuario

@{
  ViewBag.Title = "Perfil";
  Usuario user = (Usuario)Session["Usuario"];
  Artista art = (Artista)Session["Artista"];
}

<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
<link rel="stylesheet" href="~/Content/Style1.css">
<link rel="stylesheet" href="~/Content/bootstrap.css">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">

<br /><br />
<html>
    <body>
        <fieldset>
            @using (Html.BeginForm())
            {
                <h2 align="center">Perfil de @user.Nick</h2>
                <br />
                <hr />

                <div class="row">
                    <div class="col-md-3">
                        <div class="col-md-12" align="center">
                            <img class="img-responsive img-portfolio img-hover" src="~/Images/@user.Imagen" />
                        </div>
                        <div class="col-md-12">
                            <p class="text-center"><strong>Imagen de @user.Nick</strong></p>
                        </div>
                    </div>
                </div>
                
            }
        </fieldset>
    </body>

</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



