﻿@model Proyecto_Spot_it_Free.Genero

@{
    ViewBag.Title = "Detalles Generos Musicales";
}
<style>
    body {
        background-color: #464545;
        color: #ffffff;
    }
</style>
<body>
    <h2>Detalles de Género Musical</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Nombre }) |
        @Html.ActionLink("Volver", "Index")
    </p>
</body>