﻿@model IEnumerable<Proyecto_Spot_it_Free.Genero>

@{
    ViewBag.Title = "Generos";
}
<style>
    body {
        color: #ffffff;
    }
</style>

<body>
    <h2>Géneros Musicales</h2>

    <p>
        @Html.ActionLink("Crear nuevo género", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Nombre }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Nombre }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Nombre })
                </td>
            </tr>
        }

    </table>
</body>