﻿
@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: #464545;
        color: #ffffff;
    }
</style>
<body>
    <style>
        #divElement {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -50px;
            width: 100px;
            height: 100px;
        }
    </style>
    <header style="height:500px">
        @using (Html.BeginForm("Restaura", "Restaura", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div id="divElement" class="form-horizontal" style="width:400px;margin-left:-100px">
                <input type="text" id="txto" width="300px" name="apodoartista" class="form-control text-box single-line" placeholder="Email" />
                <input type="submit" style="width:300px;margin-top:10px" value="Restablecer contraseña" class="btn btn-default" />
            </div>
        }

    </header>
</body>