﻿@model Proyecto_Spot_it_Free.Models.Descubre

@{
    ViewBag.Title = "Index";
}
<style>

    * {
        margin: 0;
        padding: 0;
        border: 0;
        border: none;
    }

    /* relevant styles */
    .img__wrap {
        position: relative;
        height: 280px;
        width: 280px;
        top: -10px;
    }

    .img__description {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: none;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        /* transition effect. not necessary */
        transition: opacity .2s, visibility .2s;
        border: none;
    }

    .img__wrap:hover .img__description {
        visibility: visible;
        opacity: 1;
        border: none;
    }

    .img__wrap:hover {
    }


    .item {
        position: relative;
        overflow: hidden;
        width: 280px;
    }

        .item img {
            max-width: 100%;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        .item:hover img {
            -moz-transform: scale(1.02);
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
        }
    body {
        color: #ffffff;
    }
</style>

<body>
    <h2 style="text-align:center">¡Explora las últimas novedades!</h2>


    <hr />
    <h2 style="text-align:center">Canciones: </h2>
    <hr />

    <div style="margin-left:-40px">

        @foreach (var item in Model.Canciones)
        {
            <a href="@Url.Action("Details", "Canciones", new { id = item.Id})">
                <div class="thumbnail" style="display:inline-block;border:none; background:none">
                    <div class="item">
                        <img src="~/Images/audiodefault.jpg" width="280 px" height="280 px" />
                        <p style="text-align:center">@item.Titulo by @item.Disco1.Artista1.Nombre_artista</p>
                    </div>
                </div>
            </a>
        }
    </div>

    <hr />
    <h2 style="text-align:center">Discos </h2>
    <hr />

    <div style="margin-left:-40px">

        @foreach (var item in Model.Discos)
        {
            <a href="@Url.Action("Details", "Discos", new { id = item.Id})">
                <div class="thumbnail" style="display:inline-block;border:none;background-color:#3E3D3D;">
                    <div class="img__wrap">
                        <img class="img__img" src="~/Portadas/@item.Imagen" width="280 px" height="280 px" style="margin-bottom:100px" />
                        <h3 style=" border-radius: 30px 30px 30px 30px;-moz-border-radius: 30px 30px 30px 30px;
                        -webkit-border-radius: 30px 30px 30px 30px; border: 0px solid #000000; font-weight:150; 
                        -webkit-text-stroke: 0.8px black;" class="img__description">
                            • @item.Nombre<hr />
                            Canciones en el disco: @item.Cancion.Count()
                        </h3>
                    </div>
                </div>
            </a>
        }
    </div>
    <hr />
    <h2 style="text-align:center">Artistas </h2>
    <hr />
    <div style="margin-left:-40px">

        @foreach (var item in Model.Artistas)
        {
            <a href="@Url.Action("Details", "Artistas", new { id = item.Usuario1.Nick})">
                <div class="thumbnail" style="display:inline-block;border:none; background:none">
                    <div class="item">
                        <img class="img__img" src="~/Images/@item.Usuario1.Imagen" width="280 px" height="280 px"   />
                        <p style="text-align:center">@item.Nombre_artista</p>

                    </div>
                </div>
            </a>
        }
    </div>
</body>

