﻿@model Proyecto_Spot_it_Free.Usuario

@{
    ViewBag.Title = "Principal";
}

<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
<link rel="stylesheet" href="~/Content/Style1.css">
<link rel="stylesheet" href="~/Content/bootstrap.css">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<style>
    body{
        background-color:#464545;
        color:#ffffff;
        margin:0;
    }
    video{
        position:fixed;
        min-width:100%;
        min-height:100%;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        z-index:-1;
    }

</style>
<html>
<body>
    <video src="" autoplay loop muted></video>
    <center>

        <h1 align="center">Spot-It Free</h1>

        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <fieldset>


                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @if (@ViewBag.Message != null)
                {
                    <div style="border: 1px solid red">
                        @ViewBag.Message
                    </div>
                }

                <br />
                @* Holaaaaaaaaa *@
                @using (Html.BeginForm())
                {
                    Usuario user = (Usuario)Session["Usuario"];

                 

                        <div class="login-wrap-2">
                            <div class="login-html">
                                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-2" class="tab"></label>
                                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-1" class="tab">Inicio de Sesión</label>

                                <div class="login-form">
                                    <div class="sign-in-htm">

                                        <div class="group">
                                            @Html.TextBoxFor(a => a.Nick, "", new { @class= "form-control", placeholder = "Email o usuario", width = "200" })
                                            @Html.ValidationMessageFor(a => a.Nick)
                                        </div>

                                        <div class="group">

                                            @Html.PasswordFor(a => a.Pass, new { @class = "form-control", placeholder = "Contraseña..." })
                                            @Html.ValidationMessageFor(a => a.Pass)
                                        </div>

                                        <input class="btn btn-block btn-info" type="submit" value="Login" />

                                        <br />
                                        <div class="hr"></div>
                                        <br />

                                        <div class="foot-lnk">
                                            <a href="@Url.Action("Index","Restaura")"> ¿Has olvidado tu contraseña?</a>
                                            <div>
                                            <h5  class="btn btn-primary btn-success"  align="center"><a style="color:white" href="~/Usuarios/Create"> Regístrate</a></h5>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="hr"></div>
                            </div>
                        </div>
            
                }
            </fieldset>
        }

    </center>

</body>
</html>




