﻿@model Proyecto_Spot_it_Free.Artista

@{
    ViewBag.Title = "Borrar Artistas";
}
<style>
    body {
        color: #ffffff;
    }
</style>
<body>
    <h2>Borrar Artista</h2>

    <h3>¿Estás seguro de que quieres borrar este artista?</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre_artista)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre_artista)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Usuario1.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuario1.Nombre)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            <a href="@Url.Action("Details", "Discos", new { id = Model.Disco1.Id})">Volver</a>
        </div>
        }
    </div>
</body>