﻿@model IEnumerable<Proyecto_Spot_it_Free.Artista>


@{
  ViewBag.Title = "Index";
  Usuario user = (Usuario)Session["Usuario"];
}
<br /><br />
      <style>
          body {
              color: #ffffff;
          }
      </style>
      <body>
          <h2>Artistas de Spot-It Free</h2>

          <p>
              ¿Eres Artista?
              @Html.ActionLink("Crea un nuevo artista", "Create")
          </p>
          <table class="table">
              <tr>
                  <th>
                      @Html.DisplayNameFor(model => model.Nombre_artista)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Usuario1.Nombre)
                  </th>
                  <th></th>
              </tr>

              @foreach (var item in Model)
        {
          <tr>
              <td>
                  @Html.DisplayFor(modelItem => item.Nombre_artista)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Usuario1.Nombre)
              </td>
              @if (user.Tipo == 1)
        {
          <td>
              @Html.ActionLink("Editar", "Edit", new { id = item.Usuario }) |
              @Html.ActionLink("Detalles", "Details", new { id = item.Usuario }) |
              @Html.ActionLink("Borrar", "Delete", new { id = item.Usuario })
          </td>
}
              @if (user.Tipo != 1)
        {
          <td>
              @Html.ActionLink("Detalles", "Details", new { id = item.Usuario })
          </td>
}
          </tr>
}

          </table>
      </body>