﻿@model Proyecto_Spot_it_Free.Cancion

@{
    ViewBag.Title = "Borrar Cancion";
}
<br /><br />
      <style>
          body {
              color: #ffffff;
          }
      </style>
      <body>
          <h2>Borrar Canción</h2>

          <h3>¿Estás seguro de borrar esta canción?</h3>
          <div>
              <hr />
              <dl class="dl-horizontal">
                  <dt>
                      @Html.DisplayNameFor(model => model.Titulo)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.Titulo)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.Valoracion)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.Valoracion)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.Votos)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.Votos)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.Reproducciones)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.Reproducciones)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.Visible)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.Visible)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.Disco1.Nombre)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.Disco1.Nombre)
                  </dd>

                  <dt>
                      @Html.DisplayNameFor(model => model.Genero1.Descripcion)
                  </dt>

                  <dd>
                      @Html.DisplayFor(model => model.Genero1.Descripcion)
                  </dd>

              </dl>

              @using (Html.BeginForm())
        {
          @Html.AntiForgeryToken()

              <div class="form-actions no-color">
                  <input type="submit" value="Borrar" class="btn btn-default" /> |
                  <a href="@Url.Action("Details", "Discos", new { id = Model.Disco1.Id})">Volver</a>
              </div>
}
          </div>
      </body>