﻿@model IEnumerable<Proyecto_Spot_it_Free.Cancion>

@{
    ViewBag.Title = "Canciones";
}
<style>
    body {
        color: #ffffff;
    }
</style>
<br /><br />
      <body>
          <h2>Canciones</h2>

          <p>
              @Html.ActionLink("Añadir una nueva canción", "Create")
          </p>
          <table class="table">
              <tr>
                  <th>
                      Player
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Id)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Titulo)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.ubi)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Valoracion)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Votos)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Reproducciones)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Visible)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Disco1.Nombre)
                  </th>
                  <th>
                      @Html.DisplayNameFor(model => model.Genero1.Descripcion)
                  </th>
                  <th></th>
              </tr>

              @foreach (var item in Model)
        {
          <tr>
              <td>
                  <audio controls onplay="@Url.Action("SumaRepro","Canciones", new {id=item.Id})">
                      <source src="~/Song/@item.ubi" type="audio/mpeg">
                      Tu navegador no puede reproducir audios .
                  </audio>
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Id)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Titulo)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.ubi)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Valoracion)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Votos)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Reproducciones)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Visible)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Disco1.Nombre)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Genero1.Descripcion)
              </td>
              <td>
                  @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                  @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                  @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
              </td>
          </tr>
}

          </table>
      </body>