﻿@model Proyecto_Spot_it_Free.Disco

@{
    ViewBag.Title = "Crear Disco";
}

<h2 style="color:white">Crear Disco</h2>


@using (Html.BeginForm(Html.BeginForm("Create", "Discos", FormMethod.Post, new { enctype = "multipart/form-data" }))) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { style = "color:white", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new {  @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Artista, "Artista", htmlAttributes: new { style = "color:white", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Artista", null, htmlAttributes: new {  @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Artista, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Visible, htmlAttributes: new { style = "color:white", @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input checked="checked" name="VisibleC" type="checkbox" value="true" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Imagen, htmlAttributes: new { style = "color:white", @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input style="color:white" type="file" name="ImagenDisco" />
                @Html.ValidationMessageFor(model => model.Imagen, "", new { style = "color:white", @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
