﻿@model Proyecto_Spot_it_Free.Disco

@{
    ViewBag.Title = "Borrar Discos";
}
<style>
    body {
        color: #ffffff;
    }
</style>

<body>
    <h2>Borrar Disco</h2>

    <h3>¿Estás seguro de borrar este disco?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Visible)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Visible)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Imagen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Imagen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Artista1.Nombre_artista)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artista1.Nombre_artista)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genero1.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genero1.Descripcion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                    <input type="submit" value="Borrar" class="btn btn-default" /> |
                <a href="@Url.Action("Details", "Discos", new { id = Model.Id})">Volver</a>
            </div>
        }
    </div>
</body>