﻿@model Proyecto_Spot_it_Free.Disco

<br /><br />

@{

    Usuario user = (Usuario)Session["Usuario"];
    if (user == null)
    {
        Response.Redirect("~/Principal/Principal");
    }

    ViewBag.Title = "Detalles Discos";
}
      <style>
          body {
              color: #ffffff;
          }
          img {
              border-radius: 30px 30px 30px 30px;
              -moz-border-radius: 30px 30px 30px 30px;
              -webkit-border-radius: 30px 30px 30px 30px;
              border: 0px solid #000000;
          }
      </style>
      <body>

          <p class="dl-horizontal" style="text-align:center">
              <font face="verdana" color="grey" size="5px">
                  @Html.DisplayFor(model => model.Nombre)  by:  <a href="@Url.Action("Details", "Artistas", new { id = Model.Artista1.Usuario })"> @Html.DisplayFor(model => model.Artista1.Nombre_artista)</a>
              </font>
          </p>


          <div style="text-align:center">
              <img src="~/Portadas/@Model.Imagen" width="250px" height="250px" />
          </div>
          <div style="text-align:center">
              <h1>@Model.Nombre</h1>
              @if (Model.Visible == 1)
        {
          <p>Este disco es visible</p>
}
else
{
      <p>Este disco está oculto</p>
}
          </div>

          @{
        if (user.Nick == Model.Artista1.Usuario)
        {
          <p><a href="~/Canciones/Create?iddisco=@Model.Id"> Añadir una nueva cancion </a></p>
}
if (user == null)
{ @Html.Action("Principal", "Principal")}

          }

          <hr />


          @{ if (Model.Cancion.Count == 0)
        {
          <p>Este disco aún no tiene canciones</p>
}
else
{
    Canciones:
      <table class="table">
          <tr>
              <th>
                  Player
              </th>
              <th>
                  Id
              </th>
              <th>
                  Titulo
              </th>

              <th>
                  Del disco
              </th>

          </tr>

          @{
        int i = 1;
        foreach (var item in Model.Cancion)
        {
          <tr>
              <td>
                  <audio style="width:500px;color:dimgrey" controls onplay="@Url.Action("SumaRepro", "Canciones", new { id = item.Id })">
                      <source src="~/Song/@item.ubi" type="audio/mpeg">
                      Tu navegador no puede reproducir audios .
                  </audio>
              </td>
              <td>
                  @i
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Titulo)
              </td>

              <td>
                  @Html.DisplayFor(modelItem => item.Disco1.Nombre)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Genero1.Descripcion)
              </td>
              @if (user.Nick == Model.Artista1.Usuario)
        {
          <td>
              @Html.ActionLink("Editar", "Edit", "Canciones", new { id = item.Id }, new { }) |
              @Html.ActionLink("Detalles", "Details", "Canciones", new { id = item.Id }, new { }) |
              @Html.ActionLink("Borrar", "Delete", "Canciones", new { id = item.Id }, new { })
          </td>
}

          </tr>
    i++;

}
          }
      </table>

}


          }


          @{
          Usuario userA = (Usuario)Session["Usuario"];

          if (user.Nick == Model.Artista1.Usuario1.Nick) {
          <a href="@Url.Action("Delete", "Discos", new { id = Model.Id})">Borrar disco</a>

          }
          }



          <p>

          </p>
      </body>